mixin our-advantages__section-title-wrapper(text)
  .our-advantages__section-title-wrapper&attributes(attributes)
    +section-title(text)(class="our-advantages__section-title section-title_color_white ")