include ../../feedback-button/feedback-button.pug
include ../../line-with-corner/line-with-corner.pug
include ../__truck-desc/price-menu__truck-desc.pug
mixin price-menu__truck-desc-wrapper(marksColumnObj, propertysObj)
  .price-menu__truck-desc-wrapper&attributes(attributes)
    +price-menu__truck-desc(marksColumnObj, propertysObj)
    +feedback-button("Оставить заявку")(class=" price-menu__feedback-button feedback-button_theme_green call-request-form-button")
    +line-with-corner()(class=" price-menu__line-with-corner price-menu__line-with-corner_position_top-left line-with-corner_theme_only-white-corner")
    +line-with-corner()(class=" price-menu__line-with-corner price-menu__line-with-corner_position_bottom-right line-with-corner_theme_only-white-corner")