include __contacts/header__contacts.pug
include ../logo-and-label/logo-and-label.pug
include ../navbar/navbar.pug
mixin header(modifier)
  .header&attributes(attributes)
    +logo-and-label()(class="header__logo-and-label")
    +header__contacts()
    +navbar()