$phone-number-width: 168px;
$mail-width: 212px;
$feedback-button-width: 150px;

.header__contacts {
  position: absolute;
  left: 43.8%;
}

@import '../__mail/header__mail';
@import '../__phone-number/header__phone-number';
@import '../__feedback-button/header__feedback-button';