
$bkgrdClr: #e6e6e6;
$corner-width: 94px;
$logo-and-label-height: 130px;

.header__logo-and-label {
  position: relative;
  width: 44.2%;

  @include media-breakpoint-down(lg){
    width: 40%;
  }

  @include media-breakpoint-down(sm){
    top: 7px;
  }

}

@import "../../logo-and-label/logo-and-label";
