.footer__aboveground {
  height: 120px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @include media-breakpoint-down(lg){
    position: relative;
    justify-content: flex-end;
  }
  @include media-breakpoint-down(xs){
    height: 160px;
    justify-content: center;
  }
  @media(max-width: 360px) { font-size: 11px;}
}
