@import "../_theme_price/line-with-corner_theme_price";
.line-with-corner_theme_price-active {
  $bkgColor: #d12c2c;
  
  .line-with-corner__thick-line{
    background-color: $bkgColor;
  }

  .line-with-corner__right-corner {
    border-top-color: $bkgColor;
  }
}
