include ../__nav-item/navbar__nav-item.pug 
include ../../dropdown/dropdown.pug 
mixin navbar__nav(modifier)
  ul.navbar__nav.mr-auto&attributes(attributes)
    +dropdown("nav-link navbar__nav-link ","О&nbsp;компании",["Реквизиты", "Шаблоны&nbsp;договора","Политика,конфиденциальности"])(class="navbar__nav-item")
    +dropdown("nav-link navbar__nav-link ")(class="navbar__nav-item")
    +navbar__nav-item("Калькулятор")
    +navbar__nav-item("Прайс","price")
    +navbar__nav-item("Контакты")