.navbar__nav {
  @extend .navbar-nav;
  font-family: inherit;
  font-size: inherit;

  background-color: $bkgrnd-clr;

  @include media-breakpoint-up(sm){
    height: $navbar-height;
  }

  @include media-breakpoint-down(xs){
    align-items: center;
  }
}
