include __logo-and-text-wrapper/logo-and-label__logo-and-text-wrapper.pug
include __background/logo-and-label__background
include __right-corner/logo-and-label__right-corner
mixin logo-and-label(modifier)
  .logo-and-label&attributes(attributes)
    +logo-and-label__background() 
    +logo-and-label__right-corner()
    +logo-and-label__logo-and-text-wrapper()