.line-with-corner_theme_end-of-section-vinous {
  $cornerWidth: 18px;
  $lineHeight: 25px;
  $bkgColor: #663333;
  
  .line-with-corner__left-corner {
    display: none;
  }

  .line-with-corner__thick-line{
    position: relative;
    height: $lineHeight;
    background-color: $bkgColor;
    width: 100%;
    //Тут ширина задаётся через свойства одноименного
    // элемента у секции sectionName__line-with-corner
  }

  .line-with-corner__right-corner {
    border-right: $cornerWidth solid transparent;
    border-top: $lineHeight solid $bkgColor;
  }
}
