include ../../feedback-button/feedback-button.pug
mixin footer__feedback-button-wrapper(modifier)
  .footer__feedback-button-wrapper&attributes(attributes)
    +feedback-button()(class=" footer__feedback-button feedback-button_theme_white feedback-button_size_normal")