include __underline/section-title__underline.pug
include __title/section-title__title.pug
mixin section-title(text)
  .section-title&attributes(attributes)
    +section-title__title(text)
    //- +section-title__underline()