.our-services__service-block {
  width: 300px;
  height: 180px;
  position: relative;
  margin-bottom: 30px;
}
@import '../../service-block/service-block';@import '_theme_title-service-block/our-services__service-block_theme_title-service-block';
