include __row-of-title-blocks/our-services__row-of-title-blocks.pug
include __row-of-service-blocks/our-services__row-of-service-blocks.pug
include __text/our-services__text.pug
mixin our-services(modifier)
  section.our-services.container&attributes(attributes)
    +our-services__row-of-title-blocks()
    +our-services__row-of-service-blocks()
    +our-services__text()
