include ../section-title/section-title.pug
include ../line-with-corner/line-with-corner.pug
mixin our-services(modifier)
  .our-services&attributes(attributes)
    +section-title('НАШИ&nbsp;УСЛУГИ')(class=" our-services__section-title")
