.header__mail {
  position: absolute;
  top: 49px;
  left: $phone-number-width + 29px;
  width: $mail-width;

  @include media-breakpoint-down(md){
    width: $mail-width/1.29;
    font-size: 13px;
    top: 40px;
    left: 0;
  }
}
@import "../../mail/mail";