.line-with-corner_theme_big-right-up-green-static {
  @include media-breakpoint-up(lg){
    $cornerWidth: 30px;
    $lineHeight: 40px;
    $bkgColor: #518a32;
    $lineWidth: 330px;
    
    .line-with-corner__left-corner {
      display: none;
    }

    .line-with-corner__thick-line{
      height: $lineHeight;
      width: $lineWidth;
      background-color: $bkgColor;
      display: inline-block;
    }

    .line-with-corner__right-corner {
      border-right: $cornerWidth solid transparent;
      border-top: $lineHeight solid $bkgColor;
    }
      
  }


}
