include ../../advantage-block/advantage-block.pug

mixin our-advantages__row-of-advantage-blocks(modifier)
  .our-advantages__row-of-advantage-blocks&attributes(attributes)
    +advantage-block("clock", "Соблюдаем&nbsp;сроки", "Своевременно подаём авто и доставляем грузы")