.feedback-button {
  cursor: pointer;
  border-color: #663333;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-user-select:none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
@import '__text/feedback-button__text';
@import '_theme_white/feedback-button_theme_white';
@import '_size_normal/feedback-button_size_normal';
