.navbar__nav-item {
  @extend .nav-item;

  font-family: inherit;
  font-size: inherit;

  @include media-breakpoint-up(sm){
    position: relative;
    top: 13px;
    left: 15px;
  }
  @include media-breakpoint-down(xs){
    text-align: center;
  }
}
