// Дополнительные материалы
@import "~bootstrap/scss/bootstrap";
@import "../../components/UnCss";
@import "../../components/extend";
@import "../../components/mixins";

// Блоки
@import "../../Blocks/header/header";
@import "../../Blocks/behind-the-word/behind-the-word";
@import "../../Blocks/our-services/our-services";
@import "../../Blocks/our-advantages/our-advantages";
@import "../../Blocks/transport-organization/transport-organization";
@import "../../Blocks/car-park/car-park";
@import "../../Blocks/footer/footer";
@import "../../Blocks/form/form";

// Шрифты
@import "../../fonts/FuturaPT/stylesheet";
@import "../../fonts/OpenSans/stylesheet";

body{
  background-color: #fff;
}

.header{
  //эта строка (position: relative) нужна, чтобы в хроме 
  //правильно высчитывался в Процентах left
  position: relative;
  height: 170px;

  @include media-breakpoint-down(xs){
    height: auto;
  }
}
.our-services{
  margin-top: 70px;
  padding-bottom: 58px;
  padding-left: 13px;
  padding-right: 15px;
  position: relative;

  @include media-breakpoint-down(md){
    margin-top: 25px;
    padding-bottom: 25px;
  }
}

.our-advantages{
  padding-bottom: 47px;
  @include media-breakpoint-down(md){
    padding-bottom: 15px;
  }
}

.transport-organization{
  padding-top: 110px;
  padding-bottom: 71px;
  @include media-breakpoint-down(md){
    padding-top: 40px;
    padding-bottom: 25px;
  }
}

.car-park{
  margin-top: 88px;
  margin-bottom: 39px;


  @include media-breakpoint-down(md){
    margin-top: 30px;
    margin-bottom: 25px;
  }

}

.footer{
  .container{
    @include media-breakpoint-up(lg){
      max-width: 940px;
    }
  }
}