include ../../Blocks/header/header.pug
include ../../Blocks/behind-the-word/behind-the-word.pug
include ../../Blocks/our-services/our-services.pug
doctype html
html
  head
  meta(charset = "utf-8")
  meta(name="viewport", content="initial-scale=1.0, width=device-width")
  title pereezd_1920
  body
    +header()
    +behind-the-word()
    +our-services()(class=" container ")