// Дополнительные материалы
@import "~bootstrap/scss/bootstrap";
@import "../../components/UnCss";
@import "../../components/extend";

// Блоки
@import "../../Blocks/header/header";
@import "../../Blocks/behind-the-word/behind-the-word";
@import "../../Blocks/our-services/our-services";
@import "../../Blocks/our-advantages/our-advantages";

// Шрифты
@import "../../fonts/FuturaPT/stylesheet";
@import "../../fonts/OpenSans/stylesheet";

body{
  background-color: #fff;
}

.header{
  //эта строка (position: relative) нужна, чтобы в хроме 
  //правильно высчитывался в Процентах left
  position: relative;
  height: 170px;

  @include media-breakpoint-down(xs){
    height: auto;
  }
}
.our-services{
  margin-top: 70px;
  padding-bottom: 58px;
  padding-left: 13px;
  padding-right: 15px;
  position: relative;

  @include media-breakpoint-down(md){
    margin-top: 25px;
    padding-bottom: 25px;
  }
}

.our-advantages{

  @include media-breakpoint-down(md){
  }
}