mixin transportation-step__arrow(modifier)
  svg.transportation-step__arrow&attributes(attributes)
    path(d="M 0,5 L 20,5" stroke-width="2")
    path(d="M 15,10 L 15,0 L 20,5 z" stroke-width="1")
    