.line-with-corner_theme_right-up-red-static {
  $cornerWidth: 18px;
  $lineHeight: 25px;
  $bkgColor: #d12c2c;
  $lineWidth: 101px;
  $lineWidthMD: 75px;
  
  .line-with-corner__left-corner {
    display: none;
  }

  .line-with-corner__thick-line{
    height: $lineHeight;
    width: $lineWidth;
    background-color: $bkgColor;
    display: inline-block;

    @include media-breakpoint-down(md){
      width: $lineWidthMD;
    }
  }

  .line-with-corner__right-corner {
    position: relative;
    right: 1px;
    border-right: $cornerWidth solid transparent;
    border-top: $lineHeight solid $bkgColor;
  }
}
