.dropdown__item {
  @extend .dropdown-item;
  font-family: inherit;
  font-size: inherit;
  padding-left: 43px;
  padding-right: 29px;
  padding-bottom: 3px;
  position: relative;
  bottom: 2px;


  &:before{
    color:#663333;
    content:"\203A";
    font-size: 23px;
    position: relative;
    right: 14px;
    top: 2px;
  }
}
