.line-with-corner_theme_left-down-right-up-vinous-static {
  $cornerWidth: 18px;
  $lineHeight: 25px;
  $bkgColor: #663333;
  $lineWidth: 233px;
  
  .line-with-corner__left-corner {
    position: relative;
    left: 1px;
    border-left: $cornerWidth solid transparent;
    border-bottom: $lineHeight solid $bkgColor;
  }

  .line-with-corner__text{
    left: 30px;
    @include media-breakpoint-down(md){left: 70px;}
  }

  .line-with-corner__thick-line{
    height: $lineHeight;
    width: $lineWidth;
    background-color: $bkgColor;
    display: inline-block;
  }

  .line-with-corner__right-corner {
    position: relative;
    right: 1px;
    border-right: $cornerWidth solid transparent;
    border-top: $lineHeight solid $bkgColor;
  }
}
