.price-menu__pic {
  @include media-breakpoint-down(md){
    max-width: 544px;
  }
  @include media-breakpoint-down(sm){
    max-width: 400px;
  }
  @include media-breakpoint-down(xs){
    max-width: 250px;
  }
}
