include __textarea-wrapper/form__textarea-wrapper.pug
include __input-wrapper/form__input-wrapper.pug
include __top-line/form__top-line.pug
include __label/form__label.pug
include ../feedback-button/feedback-button.pug
mixin form(form_title, firstInputInfoObj, secondInputInfoObj,        isNeededTextArea=true, checkboxInputInfoObj={label:"Согласен&nbsp;на&nbsp;обработку<br/>персональных&nbsp;данных", id:"feedback_checkbox-agreement", type:"checkbox"})
  .form__form-wrapper&attributes(attributes)
    .form__form-background#form__form-background
    form.form
      +form__top-line(form_title)
      +form__input-wrapper(
      firstInputInfoObj.label,
      firstInputInfoObj.id, 
      firstInputInfoObj.type)
      +form__input-wrapper(
      secondInputInfoObj.label,
      secondInputInfoObj.id,
      secondInputInfoObj.type)
      if (isNeededTextArea)
        +form__textarea-wrapper("Краткая&nbsp;информация","requestTextArea")
      +form__input-wrapper(
      checkboxInputInfoObj.label,
      checkboxInputInfoObj.id,
      checkboxInputInfoObj.type)(class=" form__checkbox-wrapper form__input-wrapper_checkbox_vinous")
      +feedback-button("Отправить")(class=" form__send-button")