.price-menu__item-container {
  display: none;
  color: #505050;


  @include media-breakpoint-up(lg){
    position: absolute;
    height: 612px;
    left: 0;
    right: 0;

    top: 86px
    
  }
  @include media-breakpoint-down(md){
    padding-top: 50px;
    padding-bottom: 10px;
  }
}
@import '_active/price-menu__item-container_active';
