mixin price-block__section-title-wrapper(modifier)
  .price-block__section-title-wrapper&attributes(attributes)
    +section-title("ПРАЙС")(class="price-block__section-title section-title_underline-width_small")