// Дополнительные материалы
@import "~bootstrap/scss/bootstrap";
@import "../../components/UnCss";
@import "../../components/extend";
@import "../../components/mixins";

// Блоки
@import "../../Blocks/header/header";
@import "../../Blocks/footer/footer";
@import '../../Blocks/price-block/price-block';
@import "../../Blocks/form/form";

// Шрифты
@import "../../fonts/FuturaPT/stylesheet";
@import "../../fonts/OpenSans/stylesheet";
@import "../../fonts/Museo_Cyrl_300/fonts";

body{
  background-color: #fff;
}

.header{
  //эта строка (position: relative) нужна, чтобы в хроме 
  //правильно высчитывался в Процентах left
  position: relative;
  height: 170px;

  @include media-breakpoint-down(xs){
    height: auto;
  }
}

.footer{
  .container{
    @include media-breakpoint-up(lg){
      max-width: 940px;
    }
  }
}