include ../../Blocks/header/header.pug
include ../../Blocks/price-block/price-block.pug
include ../../Blocks/footer/footer.pug
doctype html
include ../../Blocks/form/form.pug
html
  head
    meta(charset = "utf-8")
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    title price
  body
    .wrapper
      .content
        +header()
        .container
          +price-block()
      +footer()
      +form( "Форма&nbsp;обратной&nbsp;связи",
            {
              label:"Ваше имя",
              id:"feedback_name",
              type:"text"},
            {
              label:"Телефон",
              id:"feedback_tel",
              type:"tel"
            },
            false)(class=" form_theme_feedback ", id="feedback-form")
      +form("Оставить&nbsp;заявку",
            {
              label:"Ваше имя", 
              id:"request_name", 
              type:"text"
            },
            {
              label:"Телефон", 
              id:"request_tel", 
              type:"tel"
            },
            true,
            {
              label:"Согласен&nbsp;на&nbsp;обработку<br/>персональных&nbsp;данных", 
              id:"request_checkbox-agreement", 
              type:"checkbox"
            } )(class="form_theme_request", id="request-form")