include ../../line-with-corner/line-with-corner.pug
mixin form__title(title="Оставить&nbsp;заявку")
  .form__title&attributes(attributes)
    +line-with-corner(title)(class=" line-with-corner_theme_big-right-up-vinous-static ")