mixin price-menu__trade-offer(text='Данные машины компактны и маневренные, не требуют больших подъездных путей. Идеально подходят для &laquo;перевозки&raquo; 1-к. квартиры.')
  span.price-menu__trade-offer&attributes(attributes)!=text
