.logo-and-label__logo-and-text-wrapper {
  $width: 279px;
  $right: 81px;
  $top: 20px;

  @include unselectable;
  outline: none;
  
  position: absolute;
  width: $width;
  right: $right;
  top: $top;

  @include media-breakpoint-down(md){
    width: $width/2;
    right: $right/2;
    top: $top/2;
  }

  @include media-breakpoint-down(xs){
    width: $width/3;
    right: $right/3;
    top: $top/3;
  }
}
