include ../__logo/logo-and-label__logo
include ../__label/logo-and-label__label
mixin logo-and-label__logo-and-text-wrapper(modifier)
  .logo-and-label__logo-and-text-wrapper&attributes(attributes)
    +logo-and-label__logo()
    +logo-and-label__label()