.header__navbar {

  @include media-breakpoint-up(sm){
    position: absolute;
    width: 88%;
    bottom: 0;
    right: 0;
    padding: 0;
  }
  @include media-breakpoint-up(md){
    width: 65%;
  }
  @include media-breakpoint-up(xl){
    width: 59%;
  }
}
