//- Сайт рендерит элементы в обратном порядке, это сделлано для того, чтобы "первый" мог заползти под следующий
include __item/price-menu__item.pug
mixin price-menu(modifier)
  ul.price-menu&attributes(attributes)
    +price-menu__item("1,5 тонны",
    'Данные машины компактны и маневренные, не требуют больших подъездных путей. Идеально подходят для &laquo;перевозки&raquo; 1-к. квартиры.',
    "trucks1",
      {
        marksColumnTitle:"Марки автомобилей",
        marksColumnItemSymbol:"&#8211; ",
        marks: ["ГАЗель","Isuzu", "Kia", "Mutsubishi"]
      },
      [
        {name:"Длина кузова", value:"от 3 м. до 5 м."},
        {name:"Объем кузова", value:"от 9 до 20 куб. м."},
        {name:"Грузоподъёмность", value:"от 1,5 до 2 т."},
        {name:"Цена за км", value:"15 руб./км"}
      ])(class="  " data-tab="trucks1")
    +price-menu__item("3 тонны"
    ,'Данные машины компактны и маневренные, не требуют больших подъездных путей. Идеально подходят для &laquo;перевозки&raquo; 2-к. квартиры.',
    "trucks2",
      {
        marksColumnTitle:"Марки автомобилей",
        marksColumnItemSymbol:"&#8211; ",
        marks: ["Газ &laquo;Бычок&raquo;","Валдай", "Isuzu", "Hino", "Mazda"]
      },
      [
        {name:"Длина кузова", value:"от 4,5 м. до 6,5 м."},
        {name:"Объем кузова", value:"от 18 до 30 куб. м."},
        {name:"Грузоподъёмность", value:"от 3 до 4 т."},
        {name:"Цена за км", value:"17 руб./км"}
      ])(class="  " data-tab="trucks2")
    +price-menu__item("5 тонн",
    'Данные машины компактны и маневренные, не требуют больших подъездных путей. Идеально подходят для &laquo;перевозки&raquo; 1-к. квартиры.',
    "trucks2",
      {
        marksColumnTitle:"Марки автомобилей",
        marksColumnItemSymbol:"&#8211; ",
        marks: ["","", "", ""]
      },
      [
        {name:"Длина кузова", value:"от  м. до  м."},
        {name:"Объем кузова", value:"от  до  куб. м."},
        {name:"Грузоподъёмность", value:"от  до  т."},
        {name:"Цена за км", value:"17 руб./км"}
      ])(class="  " data-tab="trucks3")
    +price-menu__item("10 тонн",
    'Данные машины компактны и маневренные, не требуют больших подъездных путей. Идеально подходят для &laquo;перевозки&raquo; 2-к. квартиры.',
    "trucks3",
      {
        marksColumnTitle:"Марки автомобилей",
        marksColumnItemSymbol:"&#8211; ",
        marks: ["Hino","Volvo", "КамАЗ", "Isuzu"]
      },
      [
        {name:"Длина кузова", value:"от 4,5 м. до 6,5 м."},
        {name:"Объем кузова", value:"от 18 до 30 куб. м."},
        {name:"Грузоподъёмность", value:"от 3 до 4 т."},
        {name:"Цена за км", value:"17 руб./км"}
      ])(class="  " data-tab="trucks4")
    +price-menu__item("20 тонн"
    ,'Данные машины компактны и маневренные, не требуют больших подъездных путей. Идеально подходят для &laquo;перевозки&raquo; 2-к. квартиры.',
    "trucks4",
      {
        marksColumnTitle:"Марки автомобилей",
        marksColumnItemSymbol:"&#8211; ",
        marks: ["Hino","Volvo", "КамАЗ", "Isuzu"]
      },
      [
        {name:"Длина кузова", value:"от 4,5 м. до 6,5 м."},
        {name:"Объем кузова", value:"от 18 до 30 куб. м."},
        {name:"Грузоподъёмность", value:"от 3 до 4 т."},
        {name:"Цена за км", value:"17 руб./км"}
      ])(class="  " data-tab="trucks5")